.ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: 100;
}

.ground > svg {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 600px;
}
