.header-container {
  width: 100%;
  height: 75px;
  margin-top: 75px;
}

.header {
  position: absolute;
  width: 100%;
  --color1: #499f68;
  --color2: #ef476f;
  font-family: -apple-system, 'Open Sans', sans-serif;
  text-align: center;
  font-size: 96px;
  font-weight: '900';
  background: repeating-linear-gradient(
    45deg,
    var(--color1),
    var(--color1) 30px,
    var(--color2) 30px,
    var(--color2) 60px
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: 40s linear 0s infinite moveHeaderText;
  -webkit-text-stroke: 2px white;
}

.header-back {
  text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.75);
}

@keyframes moveHeaderText {
  from {
    background-position: 0px;
  }
  to {
    background-position: 1000px;
  }
}

.header-img {
  position: absolute;
  top: 175px;
  left: calc(100vw / 2 - 200px);
  width: 400px;
}
